.DS_Store
.idea
rtype-server
rtype-client
.vscode

CMakeLists.txt
install.sh

doxygen_warnings.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.cmake
build/
_deps/
cmake*

CmakeCache.txt
CmakeFiles/
CMakeFiles/
vgcore*

# Executables
*.exe
*.out
*.app
vcpkg/
.vscode/
build/
Makefile
MySFMLProject
CMakeCache.txt
